h2
{
	color:blue;
}
h1
{
	font-size: ;
}
body
{
	background-color: grey
}

#wrapper1 
{
	margin: auto;
	width: 90%;
    width: 1300px;
    overflow: hidden; /* add this to contain floated children */
}
.title
{
	font-size: 20px;
	width: 1200px;
    float:left; /* add this */
    text-shadow: purple;
    text-align: center;
    
}
.logout
{
	float: right;
}

#wrapper2 
{
	height: 200px;
	margin: auto;
	width: 50%;
    width: 1300px;
    overflow: hidden; /* add this to contain floated children */
}
.forum
{
	margin-bottom:4px;
	overflow: auto;
	width: 400px;
	float:left; /* add this */
    border: 4px solid white;
	font-size: 25px;
	height: 200px;
}

.post
{	
	width: 450px;
	height: 200px;
	text-align: center;
	float: left;
	border: 4px solid white;
	overflow: auto;
	
}


#wrapper3 
{
	clear:both;
	height: 440px;
	margin: auto;
	width: 50%;
    width: 1300px;
    overflow: hidden; /* add this to contain floated children */
}

.textfield
{	
	margin-left:450px;
}